# Setup:

In [ ]:
#Importing necessary libraries
import pandas as pd
import io
#import numpy as np in case of differing null values, such as 'missing'

pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 500)

# Loading data into dataframe:

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving file_payments.csv to file_payments (1).csv
Saving file_orders.csv to file_orders (1).csv
Saving file_customers.csv to file_customers (3).csv

In [ ]:
customer = pd.read_csv(io.BytesIO(uploaded['file_customers.csv']))
customer.head()

                        customer_id customer_city channel
0  c42188ecda96aa87f2f7ae67974093ab          Oslo  Google
1  b34f8bf1893070905ec951cad8dc1865          Oslo  Google
2  df3be1c92fa27cda84caa922db80c785          Oslo  Google
3  acfcdc1935acea5eecac434820116ce3          Oslo  Google
4  5a20ca69160161786b074d55001ca9b7          Oslo  Google

In [ ]:
order = pd.read_csv(io.BytesIO(uploaded['file_orders.csv']))
order.head()

                               order_id                       customer_id order_status order_purchase_timestamp        order_approved_at order_delivered_carrier_date  order_item_id                        product_id                         seller_id   price  freight_value currency product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0  6c12bdc5-cb46-4b14-9834-340f9849043c  cb0dfa91ea2f9acab7316baf7708e621    delivered  2018-02-16 15:31:43 UTC  2018-02-20 07:27:11 UTC      2018-02-22 17:53:56 UTC              1  08574b074924071f4e201e151b152b4e  001cca7ae9ae17fb1caed9dfb1094831  1616.0          82.20      SEK          garden_tools                 36.0                       450.0                 1.0            9000.0               42.0               12.0              39.0
1  5b2bbb35-1db5-48bd-80e1-06282c82b26b  782da07dd1b66f0a3ece989a671ecb8c    delivered  2018-01-15 13:38:02 UTC  2018-01-15 13:49:58 UTC      2018-01-17 22:21:25 UTC              1  08574b074924071f4e201e151b152b4e  001cca7ae9ae17fb1caed9dfb1094831  1584.0          66.16      SEK          garden_tools                 36.0                       450.0                 1.0            9000.0               42.0               12.0              39.0
2  46a05b5e-98d4-46df-a039-b5df4d9606c9  e2157bd7eb4af4b0cb8cc0fd2ef04bb0    delivered  2018-01-12 13:50:31 UTC  2018-01-12 14:08:36 UTC      2018-01-15 22:21:46 UTC              1  08574b074924071f4e201e151b152b4e  001cca7ae9ae17fb1caed9dfb1094831  1584.0          91.98      SEK          garden_tools                 36.0                       450.0                 1.0            9000.0               42.0               12.0              39.0
3  0fd7624d-0b76-4814-b209-5201d8efa4da  39fd6d063a9335b98a5045cada7081dc    delivered  2018-02-08 21:14:22 UTC  2018-02-08 21:28:11 UTC      2018-02-14 21:45:16 UTC              1  08574b074924071f4e201e151b152b4e  001cca7ae9ae17fb1caed9dfb1094831  1616.0          92.02      SEK          garden_tools                 36.0                       450.0                 1.0            9000.0               42.0               12.0              39.0
4  7e48fc78-d6fc-4a48-86df-b273f9fb5c9b  9e65cbbe0b4f517550e04293b56818af    delivered  2018-03-13 10:27:41 UTC  2018-03-13 10:47:53 UTC      2018-03-14 17:12:23 UTC              1  08574b074924071f4e201e151b152b4e  001cca7ae9ae17fb1caed9dfb1094831  1616.0         134.04      SEK          garden_tools                 36.0                       450.0                 1.0            9000.0               42.0               12.0              39.0

In [ ]:
payment = pd.read_csv(io.BytesIO(uploaded['file_payments.csv']))
payment.head()

                           order_id  payment_value currency  payment_types payment_method
0  a4431cbd79dbddaae7988ce6091cbc3c           40.0      SEK              3     debit_card
1  50a6fb3fc2465d6d820f5a569be4d566           56.0      SEK              1     debit_card
2  531202443efb276e104f75af96ec510b           60.0      SEK              1     debit_card
3  00ceda91cb2ded8570ca73e70571740a           68.0      SEK              1     debit_card
4  a10a91a376b8f910600da4c459245e9f           72.0      SEK              1     debit_card

In [ ]:
print(f"The customer dataframe shape is - rows : {customer.shape[0]}; columns : {customer.shape[1]}")
print(f"The order dataframe shape is - rows : {order.shape[0]}; columns : {order.shape[1]}")
print(f"The payment dataframe shape is - rows : {payment.shape[0]}; columns : {payment.shape[1]}")

The customer dataframe shape is - rows : 16000; columns : 3
The order dataframe shape is - rows : 152777; columns : 20
The payment dataframe shape is - rows : 56027; columns : 5

In [ ]:
print(f"{customer.info()} \n")
print(f"{order.info()} \n")
print(payment.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    16000 non-null  object
 1   customer_city  16000 non-null  object
 2   channel        16000 non-null  object
dtypes: object(3)
memory usage: 375.1+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152777 entries, 0 to 152776
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   order_id                      152777 non-null  object
 1   customer_id                   152777 non-null  object
 2   order_status                  152777 non-null  object
 3   order_purchase_timestamp      152777 non-null  object
 4   order_approved_at             152762 non-null  object
 5   order_delivered_carrier_date  151316 non-null  object
 6   order_item_id                 152777 non-null  int64
 7   product_id                    152777 non-null  object
 8   seller_id                     152777 non-null  object
 9   price                         152777 non-null  float64
 10  freight_value                 152777 non-null  float64
 11  currency                      152777 non-null  object
 12  product_category_name         150564 non-null  object
 13  product_name_lenght           150591 non-null  float64
 14  product_description_lenght    150591 non-null  float64
 15  product_photos_qty            150591 non-null  float64
 16  product_weight_g              152759 non-null  float64
 17  product_length_cm             152759 non-null  float64
 18  product_height_cm             152759 non-null  float64
 19  product_width_cm              152759 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 23.3+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56027 entries, 0 to 56026
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        56027 non-null  object
 1   payment_value   56027 non-null  float64
 2   currency        56027 non-null  object
 3   payment_types   56027 non-null  int64
 4   payment_method  56027 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.1+ MB
None

In [ ]:
print(f"{customer.describe()} \n\n")
print(f"{order.describe()} \n\n")
print(payment.describe())

                             customer_id customer_city channel
count                              16000         16000   16000
unique                             16000             2       3
top     8f006da388bf8a72df55590123b02d67     Stockholm  Google
freq                                   1          9118    7375


       order_item_id         price  freight_value  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
count  152777.000000  1.527770e+05   1.527770e+05        150591.000000               150591.000000       150591.000000     152759.000000      152759.000000      152759.000000     152759.000000
mean        1.200370  3.654762e+06   2.900704e+05            48.798421                  792.127478            2.205955       2097.129989          30.090888          16.574644         22.874351
std         0.711372  1.045614e+09   6.178633e+07             9.987514                  653.266466            1.728734       3741.855228          16.252087          13.461594         11.655850
min         1.000000  1.700000e+00   0.000000e+00             5.000000                    4.000000            1.000000          0.000000           7.000000           2.000000          6.000000
25%         1.000000  9.980000e+01   2.594000e+01            42.000000                  348.000000            1.000000        300.000000          18.000000           8.000000         15.000000
50%         1.000000  2.198000e+02   3.256000e+01            52.000000                  608.000000            1.000000        675.000000          25.000000          13.000000         20.000000
75%         1.000000  5.999800e+02   4.230000e+01            57.000000                  989.500000            3.000000       1800.000000          38.000000          20.000000         30.000000
max        21.000000  3.920000e+11   1.599000e+10            76.000000                 3992.000000           20.000000      40425.000000         105.000000         105.000000        118.000000


       payment_value  payment_types
count   5.602700e+04   56027.000000
mean    9.245232e+06       1.046799
std     1.785099e+09       0.439201
min     0.000000e+00       1.000000
25%     3.228600e+02       1.000000
50%     8.251400e+02       1.000000
75%     1.777920e+03       1.000000
max     4.079900e+11      22.000000

# Data cleaning & preprocessing:

### Cleaning order dataframe - order status cancelled or unavailable & potential nulls

In [ ]:
is_NaN = order.isnull()
row_has_NaN = is_NaN['order_approved_at']
rows_with_NaN = order[row_has_NaN]
print(rows_with_NaN)
print()
order['order_status'].value_counts()

                                order_id                       customer_id order_status order_purchase_timestamp order_approved_at order_delivered_carrier_date  order_item_id                        product_id                         seller_id   price  freight_value currency      product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
53794   88083e8f64d95b932164187484d90212  f67cd1a215aae2a1074638bbd35a223a    delivered  2017-02-18 22:49:19 UTC               NaN      2017-02-22 11:31:06 UTC              1  8c5876b1c7768217964f353bc7e64393  0db783cfcd3b73998abc6e10e59a102f   98.00          29.04      SEK                  telephony                 61.0                       440.0                 1.0             250.0               18.0                3.0              28.0
53795   88083e8f64d95b932164187484d90212  f67cd1a215aae2a1074638bbd35a223a    delivered  2017-02-18 22:49:19 UTC               NaN      2017-02-22 11:31:06 UTC              2  8c5876b1c7768217964f353bc7e64393  0db783cfcd3b73998abc6e10e59a102f   98.00          29.04      SEK                  telephony                 61.0                       440.0                 1.0             250.0               18.0                3.0              28.0
55124   7002a78c79c519ac54022d4f8a65e6e8  d5de688c321096d15508faae67a27051    delivered  2017-01-19 22:26:59 UTC               NaN      2017-01-27 11:08:05 UTC              1  c3b271f47e73d0c9ccf1b43b7606c705  cca3071e3e9bb7d12640c9fbe2301306   91.80          29.04      SEK            furniture_decor                 59.0                       473.0                 1.0             600.0               30.0                3.0              20.0
63808   51eb2eebd5d76a24625b31c33dd41449  07a2a7e0f63fd8cb757ed77d4245623c    delivered  2017-02-18 15:52:27 UTC               NaN      2017-02-23 03:09:14 UTC              1  7868a64aa111bbb4f41f8e1146c0becb  cca3071e3e9bb7d12640c9fbe2301306  119.80          34.32      SEK            furniture_decor                 59.0                       438.0                 1.0            1200.0               30.0                5.0              20.0
76306   d69e5d356402adc8cf17e08b5033acfb  68d081753ad4fe22fc4d410a9eb1ca01    delivered  2017-02-19 01:28:47 UTC               NaN      2017-02-23 03:11:48 UTC              1  cae2e38942c8489d9d7a87a3f525c06b  cca3071e3e9bb7d12640c9fbe2301306  299.60          27.26      SEK            furniture_decor                 54.0                       586.0                 1.0            1700.0               33.0                8.0              23.0
94146   3c0b8706b065f9919d0505d3b3343881  d85919cb3c0529589c6fa617f5f43281    delivered  2017-02-17 15:53:27 UTC               NaN      2017-02-22 11:31:30 UTC              1  db8ed3d08891d16a2438a67ab3acb740  004c9cd9d87a3c30c522c48c4fc07416  267.98          46.40      SEK             bed_bath_table                 62.0                       702.0                 1.0            2700.0               42.0               11.0              36.0
104220  2eecb0d85f281280f79fa00f9cec1a95  a3d3c38e58b9d2dfb9207cab690b6310    delivered  2017-02-17 17:21:55 UTC               NaN      2017-02-22 11:42:51 UTC              1  4fd676d9c4723d475026e40aeae56957  5fd924b4836098a5be0ecf81ba054ce0  270.00          38.46      SEK               garden_tools                 44.0                       441.0                 3.0            4300.0               36.0               13.0              20.0
110207  8a9adc69528e1001fc68dd0aaebbb54a  4c1ccc74e00993733742a3c786dc3c1f    delivered  2017-02-18 12:45:31 UTC               NaN      2017-02-23 09:01:52 UTC              1  2c2b6a28924791234bd386bddb17512e  a4b6b9b992b46e9ef863637af96e04bc  758.00          35.72      SEK  construction_tools_safety                 56.0                       498.0                 1.0            1008.0               33.0               14.0              26.0
114822  d77031d6a3c8a52f019764e68f211c69  0bf35cac6cc7327065da879e2d90fae8    delivered  2017-02-18 11:04:19 UTC               NaN      2017-02-23 07:23:36 UTC              1  02a79d79e818ad0be36cfc843a6af7ad  cb3dd9ce66268c7a3ca7241ac70ab58c   57.98          21.92      SEK             sports_leisure                 60.0                      1738.0                 1.0             300.0               16.0               15.0              15.0
120142  c1d4211b3dae76144deccd6c74144a88  684cb238dc5b5d6366244e0e0776b450    delivered  2017-01-19 12:48:08 UTC               NaN      2017-01-25 14:56:50 UTC              1  5ab02ca028398131a5ae91401eb49788  80e6699fe29150b372a0c8a1ebf7dcc8   79.98          29.04      SEK             sports_leisure                 33.0                      1322.0                 2.0             700.0               26.0               16.0              21.0
140840  5cf925b116421afa85ee25e99b4c34fb  29c35fc91fc13fb5073c8f30505d860d    delivered  2017-02-18 16:48:35 UTC               NaN      2017-02-22 11:23:10 UTC              1  c6dd917a0be2a704582055949915ab32  7a67c85e85bb2ce8582c35f2203ad736  159.98          53.64      SEK                 cool_stuff                 54.0                      1012.0                 1.0            1200.0               42.0               25.0              15.0
140842  12a95a3c06dbaec84bcfb0e2da5d228a  1e101e0daffaddce8159d25a8e53f2b2    delivered  2017-02-17 13:05:55 UTC               NaN      2017-02-22 11:23:11 UTC              1  c6dd917a0be2a704582055949915ab32  7a67c85e85bb2ce8582c35f2203ad736  159.98          31.54      SEK                 cool_stuff                 54.0                      1012.0                 1.0            1200.0               42.0               25.0              15.0
140918  2babbb4b15e6d2dfe95e2de765c97bce  74bebaf46603f9340e3b50c6b086f992    delivered  2017-02-18 17:15:03 UTC               NaN      2017-02-22 11:23:11 UTC              1  c6dd917a0be2a704582055949915ab32  7a67c85e85bb2ce8582c35f2203ad736  159.98          53.64      SEK                 cool_stuff                 54.0                      1012.0                 1.0            1200.0               42.0               25.0              15.0
144605  7013bcfc1c97fe719a7b5e05e61c12db  2941af76d38100e0f8740a374f1a5dc3    delivered  2017-02-18 13:29:47 UTC               NaN      2017-02-22 16:25:25 UTC              1  583916a5dae918f5e89baec139141c54  3481aa57cd91f9f9d3fa1fa12d9a3bf7   99.98          31.06      SEK                        NaN                  NaN                         NaN                 NaN            3100.0               28.0               28.0              50.0
151487  e04abd8149ef81b95221e88f6ed9ab6a  2127dc6603ac33544953ef05ec155771    delivered  2017-02-18 14:40:00 UTC               NaN      2017-02-23 12:04:47 UTC              1  0e20a07ca1714df21f9b07ca3bf7c682  4e7c18b98d84e05cbae3ff0ff03846c2  619.80          78.22      SEK           small_appliances                 41.0                       675.0                 2.0           20800.0               75.0               40.0              40.0

delivered      149536
shipped          1637
canceled          719
invoiced          450
processing        425
unavailable         7
approved            3
Name: order_status, dtype: int64

In [ ]:
#Examining the orders with 'unavailable' status
fil = order['order_status'] == 'unavailable'
order[fil]

                                order_id                       customer_id order_status order_purchase_timestamp        order_approved_at order_delivered_carrier_date  order_item_id                        product_id                         seller_id    price  freight_value currency product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
53128   3c3ca08854ca922fe8e9cedfd6841c8a  88c36fbd3df96094f90f0315e1d2dd90  unavailable  2016-10-08 12:13:38 UTC  2016-10-08 13:21:35 UTC                          NaN              1  ac6c24af9f913c9375a3ea77883bda6e  5206cc4bc2297c833e6061c49bf9c43f    70.00          21.92      SEK                  auto                 28.0                       325.0                 6.0             300.0               35.0                3.0              26.0
103010  2fd1c83dd4714cf3cf796fffb6c8de62  7f51c513004ef3f35e834c142f286778  unavailable  2016-10-05 17:21:29 UTC  2016-10-06 15:55:40 UTC                          NaN              2  966a067b38634929844120e39b1576bc  61f159ef6da2d441951d2c0efa719362   119.98          48.16      SEK                  baby                 34.0                       496.0                 2.0            2050.0               33.0               13.0              29.0
107357  1a47da1d66c70489c8e35fe2b5433ab7  3d8e326c3cef3a9bba7ca121baac5fc3  unavailable  2016-10-07 18:16:31 UTC  2016-10-07 18:53:48 UTC                          NaN              1  eba7488e1c67729f045ab43fac426f2e  620c87c171fb2a6dd6e8bb4dec959fc6   499.80          41.70      SEK             perfumery                 43.0                       259.0                 1.0             610.0               22.0               14.0              16.0
121674  4dd47e84e6b8ff4a63d0b8425e6d788e  96bbcbc8372c86da857d842dfda6bd72  unavailable  2016-10-06 23:49:18 UTC  2016-10-07 01:09:08 UTC                          NaN              1  2aa489c905e1d41d8c716a6d6912d8c2  620c87c171fb2a6dd6e8bb4dec959fc6   599.80          27.36      SEK             perfumery                 35.0                       776.0                 1.0             635.0               20.0               17.0              17.0
127289  2fd1c83dd4714cf3cf796fffb6c8de62  7f51c513004ef3f35e834c142f286778  unavailable  2016-10-05 17:21:29 UTC  2016-10-06 15:55:40 UTC                          NaN              1  17c7ec33a1657924ad493e6978b4bf91  3d01d1c414c44b5943a09619ff3853cb   198.00          18.24      SEK                  baby                 31.0                       594.0                 6.0             950.0               22.0               20.0              28.0
129380  dc18a044b56ed174037ca164cdf2e921  4a06381959b6670756de02e07b83815f  unavailable  2016-10-05 14:16:28 UTC  2016-10-06 15:56:49 UTC                          NaN              1  faa268ecc8a8434cb4ebee091b3222d6  f0563bacf40c311f1c4d3d6b67b8a7a7  2398.00          57.56      SEK           electronics                 48.0                      2276.0                 4.0            1800.0               55.0               20.0              45.0
146255  54bb06e1ca86bd99ee2a8d6288bf4ede  98bfbf477ed9f40a0264f5e527a446be  unavailable  2016-10-06 13:38:39 UTC  2016-10-06 14:22:19 UTC                          NaN              1  bef13288a0f8b26d763411ced1dfa268  cf281cf8b7affbdfe751b29cc85580e1   129.80          50.66      SEK            cool_stuff                 50.0                       450.0                 2.0             350.0               20.0               30.0              40.0

In [ ]:
order = order[~fil]
fil1 = (order['order_status'] == 'canceled')
order = order[~fil1]
order.info()
order['order_status'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152051 entries, 0 to 152776
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   order_id                      152051 non-null  object
 1   customer_id                   152051 non-null  object
 2   order_status                  152051 non-null  object
 3   order_purchase_timestamp      152051 non-null  object
 4   order_approved_at             152036 non-null  object
 5   order_delivered_carrier_date  151171 non-null  object
 6   order_item_id                 152051 non-null  int64
 7   product_id                    152051 non-null  object
 8   seller_id                     152051 non-null  object
 9   price                         152051 non-null  float64
 10  freight_value                 152051 non-null  float64
 11  currency                      152051 non-null  object
 12  product_category_name         149858 non-null  object
 13  product_name_lenght           149883 non-null  float64
 14  product_description_lenght    149883 non-null  float64
 15  product_photos_qty            149883 non-null  float64
 16  product_weight_g              152033 non-null  float64
 17  product_length_cm             152033 non-null  float64
 18  product_height_cm             152033 non-null  float64
 19  product_width_cm              152033 non-null  float64
dtypes: float64(9), int64(1), object(10)
memory usage: 24.4+ MB

delivered     149536
shipped         1637
invoiced         450
processing       425
approved           3
Name: order_status, dtype: int64

In [ ]:
is_NaN1 = order.isnull()
row_has_NaN1 = is_NaN1['order_delivered_carrier_date']
rows_with_NaN1 = order[row_has_NaN1]
print(rows_with_NaN1['order_status'].value_counts())
fil2 = rows_with_NaN1['order_status'] == "delivered"
rows_with_NaN1[fil2]

invoiced      450
processing    425
approved        3
delivered       2
Name: order_status, dtype: int64

                                order_id                       customer_id order_status order_purchase_timestamp        order_approved_at order_delivered_carrier_date  order_item_id                        product_id                         seller_id  price  freight_value currency product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
143683  2d858f451373b04fb5c984a1cc2defaf  e08caf668d499a6d643dafd7c5cc498a    delivered  2017-05-25 23:22:43 UTC  2017-05-25 23:30:16 UTC                          NaN              1  30b5b5635a79548a48d04162d971848f  f9bbdd976532d50b7816d285a22bd01e  358.0          30.00      SEK        sports_leisure                 43.0                      1873.0                 2.0             900.0               26.0               26.0              26.0
152646  2aa91108853cecb43c84a5dc5b277475  afeb16c7f46396c0ed54acb45ccaaa40    delivered  2017-09-29 08:52:58 UTC  2017-09-29 09:07:16 UTC                          NaN              1  44c2baf621113fa7ac95fa06b4afbc68  3f2af2670e104d1bcb54022274daeac5  358.0          29.96      SEK       furniture_decor                 54.0                       984.0                 2.0            7000.0               16.0               50.0              55.0

### Cleaning order dataframe - price outliers

In [ ]:
filt = order['price'] > 1000000
#Unlikely that these products truly cost that much, most likely an input error
outliers = order.loc[filt]
print(outliers)
#order2 is cleaned dataframe (ie. the outliers have been removed)
order2 = order.loc[~filt]

                                    order_id                       customer_id order_status order_purchase_timestamp        order_approved_at order_delivered_carrier_date  order_item_id                        product_id                         seller_id         price  freight_value currency product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
3521    3eefb38d-647c-4b7c-a4dd-54e75f18608f  3beec086fc157dbb92da88d3eb62dd4a    delivered  2018-01-31 07:56:18 UTC  2018-01-31 13:31:38 UTC      2018-02-01 20:22:14 UTC              1  b99e4f4fa3f421e0ffbd512d9f152dec  128639473a139ac0f3e5f5ade55873a5  1.039200e+11   5.990000e+09      SEK           electronics                 52.0                       240.0                 1.0            1050.0               22.0                9.0              12.0
18624   97c67dc6-7df7-4edd-ac9a-de8bd531edca  ae4ae3a9b1fc1118d3b7713846af7ce1    delivered  2018-03-30 16:20:22 UTC  2018-03-31 16:15:18 UTC      2018-04-03 22:59:37 UTC              1  094d192d5b25e0bae4c3e2f970a53439  76d5af76d0271110f9af36c92573f765  3.920000e+11   1.599000e+10      SEK        sports_leisure                 57.0                       464.0                 3.0             800.0               20.0               20.0              20.0
54773       319d08221500b0aec75b91e63101329d  631c90faa88b1f2e61a640df5ccf5ab5    delivered  2017-09-26 23:50:03 UTC  2017-09-27 00:04:45 UTC      2017-09-27 21:30:05 UTC              1  241241093bd6986615756b4d8a01de8f  43f8c9950d11ecd03a0304a49e010da6  3.500000e+08   3.500000e+08      SEK        consoles_games                 41.0                      1292.0                 1.0             200.0               20.0                3.0              18.0
78110       7a94606a015a9feffa3b4ac23e84d132  3beec086fc157dbb92da88d3eb62dd4a    delivered  2018-01-31 07:56:18 UTC  2018-01-31 13:31:38 UTC      2018-02-01 20:22:14 UTC              1  b99e4f4fa3f421e0ffbd512d9f152dec  128639473a139ac0f3e5f5ade55873a5  1.299000e+10   5.990000e+09      SEK           electronics                 52.0                       240.0                 1.0            1050.0               22.0                9.0              12.0
131579      b85f9848a67767d36a4c39d1237b471a  ae4ae3a9b1fc1118d3b7713846af7ce1    delivered  2018-03-30 16:20:22 UTC  2018-03-31 16:15:18 UTC      2018-04-03 22:59:37 UTC              1  094d192d5b25e0bae4c3e2f970a53439  76d5af76d0271110f9af36c92573f765  4.900000e+10   1.599000e+10      SEK        sports_leisure                 57.0                       464.0                 3.0             800.0               20.0               20.0              20.0

In [ ]:
order2.describe()

       order_item_id          price  freight_value  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
count  152046.000000  152046.000000  152046.000000        149878.000000               149878.000000       149878.000000     152028.000000      152028.000000      152028.000000     152028.000000
mean        1.200038     677.934910      39.839027            48.809318                  792.169344            2.206862       2097.431361          30.093496          16.566231         22.872155
std         0.710856    1624.602063      31.507833             9.980088                  653.053427            1.729548       3742.233823          16.254418          13.455542         11.651305
min         1.000000       1.700000       0.000000             5.000000                    4.000000            1.000000          0.000000           7.000000           2.000000          6.000000
25%         1.000000      99.800000      25.980000            42.000000                  348.000000            1.000000        300.000000          18.000000           8.000000         15.000000
50%         1.000000     219.800000      32.580000            52.000000                  608.000000            1.000000        675.000000          25.000000          13.000000         20.000000
75%         1.000000     599.980000      42.300000            57.000000                  990.000000            3.000000       1800.000000          38.000000          20.000000         30.000000
max        21.000000   65599.840000     819.360000            76.000000                 3992.000000           20.000000      40425.000000         105.000000         105.000000        118.000000

### Cleaning payment dataframe - payment value outliers

In [ ]:
print(payment.max())
filt2 = payment['payment_value'] > 1000000
outliers_payments = payment.loc[filt2]
print(outliers_payments)
payment2 = payment[~filt2]

order_id          ffff668f-18f0-4f3b-ba41-bd07568740ab
payment_value                               4.0799e+11
currency                                           SEK
payment_types                                       22
payment_method                                 voucher
dtype: object
                                  order_id  payment_value currency  payment_types payment_method
6166  97c67dc6-7df7-4edd-ac9a-de8bd531edca   4.079900e+11      SEK              1         klarna
6167  3eefb38d-647c-4b7c-a4dd-54e75f18608f   1.099100e+11      SEK              1         klarna

In [ ]:
payment2.describe()

       payment_value  payment_types
count   56025.000000   56025.000000
mean     1474.495800       1.046801
std      2471.993002       0.439209
min         0.000000       1.000000
25%       322.860000       1.000000
50%       825.140000       1.000000
75%      1777.760000       1.000000
max     65750.380000      22.000000

In [ ]:
print(order2[order2["order_id"] == "ffff668f-18f0-4f3b-ba41-bd07568740ab"])
order2[order2['price'] == 65599.84]

                                   order_id                       customer_id order_status order_purchase_timestamp        order_approved_at order_delivered_carrier_date  order_item_id                        product_id                         seller_id   price  freight_value currency product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
17840  ffff668f-18f0-4f3b-ba41-bd07568740ab  d43dca5b6e770255a2c53f2b6520be4c    delivered  2018-03-10 20:35:00 UTC  2018-03-10 21:08:09 UTC      2018-03-12 21:48:18 UTC              1  f9182a0ca4e95b38186deff41198a333  71039d19d4303bf9054d69e9a9236699  1758.4          44.96      SEK            cool_stuff                 51.0                      1634.0                 5.0            2900.0               50.0               20.0              20.0

                                   order_id                       customer_id order_status order_purchase_timestamp        order_approved_at order_delivered_carrier_date  order_item_id                        product_id                         seller_id     price  freight_value currency product_category_name  product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
37337  42268f81-ae78-4af0-be79-f7a666517223  35a413c7ca3c69756cb75867d6311c0d    delivered  2018-03-29 10:31:29 UTC  2018-03-31 08:27:27 UTC      2018-04-04 23:26:45 UTC              1  6cdf8fc1d741c76586d8b6b15e9eef30  ed4acab38528488b65a9a9c603ff024a  65599.84         150.54      SEK        consoles_games                 59.0                      3172.0                 1.0            3050.0               34.0               10.0              22.0

# What are the top product categories most commonly purchased by first-time customers?

In [ ]:
order3 = order2.sort_values(by=['order_purchase_timestamp'], ascending=True)

In [ ]:
order3['customer_id'].value_counts()

be1b70680b9f9694d8c70f41fa3dc92b    40
a7693fba2ff9583c78751f2b66ecab9d    28
7d321bd4e8ba1caf74c4c1aabd9ae524    26
3b54b5978e9ace64a63f90d176ffb158    24
daf15f1b940cc6a72ba558f093dc00dd    24
                                    ..
67f17583aa3d40a008f98ff8abc14069     1
614a669b833b9fa788c043f854607611     1
c731d7800196ad88a5cbbd3ca5624388     1
97be631d09715d48d5fdc90d8bdc8d9f     1
554d280c6ca30e9c4b2dba7bf368ef53     1
Name: customer_id, Length: 98197, dtype: int64

In [ ]:
order4 = order3.drop_duplicates('customer_id', keep='first')
order4['customer_id'].value_counts()

0125fdf9e257f064725f85d1d63085b4    1
6c5672e9f126645b47e64e7f3e8a2d4b    1
9ba926ad01e17e9a308791ae9cb69699    1
52948975a1c8e2ec193e83fba7d4d091    1
fc969cccd424bdf1a70bd6eb204c4984    1
                                   ..
ee0dd94cfd30e67ecbf17bf236f47c1b    1
3db7d750dec6af04aa58c535060dc154    1
e26a202ecc04e2938f2a72d2703bc503    1
01fa00e0304cfe9ec92334b323841744    1
921681820f5576cab1551e570e6dc62d    1
Name: customer_id, Length: 98197, dtype: int64

## For all first-time customers:

In [ ]:
order4['product_category_name'].value_counts()

bed_bath_table                             9305
health_beauty                              8763
sports_leisure                             7648
computers_accessories                      6626
furniture_decor                            6323
housewares                                 5782
watches_gifts                              5582
telephony                                  4169
auto                                       3858
toys                                       3833
cool_stuff                                 3593
garden_tools                               3463
perfumery                                  3132
baby                                       2815
electronics                                2532
stationery                                 2280
fashion_bags_accessories                   1848
pet_shop                                   1700
office_furniture                           1265
consoles_games                             1048
luggage_accessories                        1020
home_appliances                             762
construction_tools_construction             738
musical_instruments                         618
small_appliances                            617
books_general_interest                      503
home_construction                           473
food                                        443
furniture_living_room                       414
home_confort                                365
audio                                       347
drinks                                      294
market_place                                275
books_technical                             256
air_conditioning                            251
kitchen_dining_laundry_garden_furniture     242
fashion_shoes                               237
construction_tools_lights                   234
industry_commerce_and_business              231
home_appliances_2                           230
food_drink                                  223
fixed_telephony                             212
art                                         197
costruction_tools_garden                    187
agro_industry_and_commerce                  182
computers                                   181
construction_tools_safety                   161
signaling_and_security                      139
christmas_supplies                          127
fashion_underwear_beach                     121
fashion_male_clothing                       110
costruction_tools_tools                      97
furniture_bedroom                            94
tablets_printing_image                       78
small_appliances_home_oven_and_coffee        75
cine_photo                                   63
dvds_blu_ray                                 56
books_imported                               52
fashio_female_clothing                       38
music                                        38
furniture_mattress_and_upholstery            38
party_supplies                               38
flowers                                      28
fashion_sport                                27
diapers_and_hygiene                          26
home_comfort_2                               22
arts_and_craftmanship                        21
cds_dvds_musicals                            12
la_cuisine                                   12
fashion_childrens_clothes                     7
security_and_services                         2
Name: product_category_name, dtype: int64

## For first-time customers that have known payment (those that are in the payment dataframe):

In [ ]:
paid_order = payment2.merge(order4, how='inner', left_on='order_id', right_on='order_id')
#print(paid_order.info())
#print(paid_order['order_status'].value_counts())
paid_order['product_category_name'].value_counts()

bed_bath_table                             2800
health_beauty                              2577
sports_leisure                             2371
computers_accessories                      2341
furniture_decor                            1893
watches_gifts                              1786
housewares                                 1760
garden_tools                               1275
auto                                       1223
telephony                                  1189
electronics                                1059
cool_stuff                                 1035
toys                                        973
baby                                        906
perfumery                                   845
stationery                                  797
fashion_bags_accessories                    569
pet_shop                                    553
office_furniture                            384
consoles_games                              315
luggage_accessories                         279
home_appliances                             250
construction_tools_construction             247
musical_instruments                         211
small_appliances                            181
home_construction                           155
books_general_interest                      154
food                                        126
audio                                       123
books_technical                              96
furniture_living_room                        95
home_confort                                 92
industry_commerce_and_business               86
drinks                                       84
art                                          80
kitchen_dining_laundry_garden_furniture      78
air_conditioning                             77
home_appliances_2                            77
fashion_shoes                                76
market_place                                 75
food_drink                                   70
construction_tools_lights                    62
costruction_tools_garden                     62
agro_industry_and_commerce                   58
construction_tools_safety                    53
fashion_underwear_beach                      45
fixed_telephony                              44
signaling_and_security                       41
computers                                    41
christmas_supplies                           35
costruction_tools_tools                      31
furniture_bedroom                            30
cine_photo                                   24
fashion_male_clothing                        24
small_appliances_home_oven_and_coffee        22
dvds_blu_ray                                 21
books_imported                               18
tablets_printing_image                       17
furniture_mattress_and_upholstery            14
flowers                                      13
home_comfort_2                               12
music                                        11
party_supplies                               10
fashio_female_clothing                        9
diapers_and_hygiene                           8
fashion_sport                                 6
arts_and_craftmanship                         5
la_cuisine                                    3
fashion_childrens_clothes                     1
Name: product_category_name, dtype: int64

## For known first-time customers (those that are in the customers dataframe):

In [ ]:
known_customer_order = customer.merge(order4, how='inner', left_on='customer_id', right_on='customer_id')
#print(known_customer_order.info())
#print(known_customer_order['order_status'].value_counts())
known_customer_order['product_category_name'].value_counts()

bed_bath_table                             1681
health_beauty                              1408
sports_leisure                             1235
housewares                                 1039
furniture_decor                            1033
computers_accessories                      1027
watches_gifts                               895
toys                                        665
telephony                                   536
garden_tools                                507
cool_stuff                                  496
perfumery                                   486
auto                                        475
electronics                                 425
baby                                        425
stationery                                  361
fashion_bags_accessories                    260
pet_shop                                    259
office_furniture                            244
consoles_games                              175
luggage_accessories                         139
construction_tools_construction             118
home_appliances                             117
small_appliances                             97
musical_instruments                          94
furniture_living_room                        94
food                                         80
books_general_interest                       69
drinks                                       68
audio                                        65
home_construction                            61
air_conditioning                             60
kitchen_dining_laundry_garden_furniture      60
food_drink                                   59
home_confort                                 59
home_appliances_2                            50
market_place                                 41
books_technical                              41
art                                          39
fixed_telephony                              38
agro_industry_and_commerce                   37
signaling_and_security                       34
construction_tools_lights                    29
industry_commerce_and_business               29
costruction_tools_garden                     29
furniture_bedroom                            27
fashion_shoes                                21
computers                                    20
construction_tools_safety                    20
small_appliances_home_oven_and_coffee        19
fashion_underwear_beach                      17
fashion_male_clothing                        17
cine_photo                                   16
books_imported                               14
dvds_blu_ray                                 14
tablets_printing_image                       13
costruction_tools_tools                      12
furniture_mattress_and_upholstery            11
christmas_supplies                           11
party_supplies                                8
music                                         6
fashio_female_clothing                        6
diapers_and_hygiene                           6
flowers                                       5
home_comfort_2                                5
cds_dvds_musicals                             4
fashion_childrens_clothes                     3
fashion_sport                                 2
arts_and_craftmanship                         1
la_cuisine                                    1
Name: product_category_name, dtype: int64

# How large is the segment of customers with an average payment value over 200 SEK?

## Route 1 - estimating payment based on price and freight value, and based soley on orders dataset:

In [ ]:
order2['payment_estimate'] = order['price'] + order['freight_value']
order2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152046 entries, 0 to 152776
Data columns (total 22 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   order_id                      152046 non-null  object
 1   customer_id                   152046 non-null  object
 2   order_status                  152046 non-null  object
 3   order_purchase_timestamp      152046 non-null  object
 4   order_approved_at             152031 non-null  object
 5   order_delivered_carrier_date  151166 non-null  object
 6   order_item_id                 152046 non-null  int64
 7   product_id                    152046 non-null  object
 8   seller_id                     152046 non-null  object
 9   price                         152046 non-null  float64
 10  freight_value                 152046 non-null  float64
 11  currency                      152046 non-null  object
 12  product_category_name         149853 non-null  object
 13  product_name_lenght           149878 non-null  float64
 14  product_description_lenght    149878 non-null  float64
 15  product_photos_qty            149878 non-null  float64
 16  product_weight_g              152028 non-null  float64
 17  product_length_cm             152028 non-null  float64
 18  product_height_cm             152028 non-null  float64
 19  product_width_cm              152028 non-null  float64
 20  pay_est                       152046 non-null  float64
 21  payment_estimate              152046 non-null  float64
dtypes: float64(11), int64(1), object(10)
memory usage: 26.7+ MB

In [ ]:
customer_id_groupings1 = order2.groupby(['customer_id']).mean()
filte = customer_id_groupings1['payment_estimate'] > 200
answer1 = len(customer_id_groupings1[filte])
perc1 = round((answer1/len(customer_id_groupings1) * 100))
print(f"There are an estimate of {answer1} customers (about {perc1}%) with an average payment value over 200 SEK, based on solely the order dataframe.")

There are an estimate of 63011 customers (about 64%) with an average payment value over 200 SEK, based on solely the order dataframe.

## *Route 2 - answering the question directly, namely using the payment value field:

In [ ]:
#merge payment and order dataframes
payment_order = payment2.merge(order2, how='inner', left_on='order_id', right_on='order_id')
#group by customer id to get the customers average payments
customer_id_groupings2 = payment_order.groupby(['customer_id']).mean()
#create filter of payments over 200
filte2 = customer_id_groupings2['payment_value'] > 200
answer2 = len(customer_id_groupings2[filte2])
perc2 = round((answer2/len(customer_id_groupings2) * 100))
print(f"There are {answer2} customers (about {perc2}%) with an average payment value over 200 SEK.")

There are 38509 customers (about 86%) with an average payment value over 200 SEK.

## Route 3 - similar to Route 2 but focused on only known customers, based on customers dataset:

In [ ]:
customer_payment_order = payment_order.merge(customer, how='inner', left_on='customer_id', right_on='customer_id')
customer_id_groupings3 = customer_payment_order.groupby(['customer_id']).mean()
filte3 = customer_id_groupings3['payment_value'] > 200
answer3 = len(customer_id_groupings3[filte3])
perc3 = round((answer3/len(customer_id_groupings3) * 100))
print(f"There are {answer3} known customers (about {perc3}%) with an average payment value over 200 SEK, based on all three dataframes.")

There are 6050 known customers (about 85%) with an average payment value over 200 SEK, based on all three dataframes.